* {
    padding: 0px;
    margin: 0px;
}

#container {
    background-color: #e5e5fd;
    border: 10px solid rgb(5, 137, 0);
    min-height: 150vh;
}

#ancontainer {
    border: 10px solid rgb(254, 254, 254);
    min-height: 150vh;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
}

#upper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

#title {
    flex-grow: 1;
    margin-left: 100px;
}

#title h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
    margin-top: 0px;
}

#title h4 {
    font-size: 30px;
    text-align: center;
}

#image {
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

img {
    height: 300px;
    width: 250px;
}

#about {
    margin-top: 50px;
    margin-bottom: 20px;
}

#about h1 {
    font-size: 55px;
}

#about p {
    margin-top: 20px;
    font-size: 18px;
}

#biography {
    margin-bottom: 50px;
}

#biography h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

#biography ul {
    margin-left: 50px;
    font-size: 18px;
}

#biography ul li {
    margin-top: 2px;
    margin-bottom: 2px;
}

footer {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: end;
}

/* For devices with a maximum width of 768px */
@media (max-width: 768px){
    #title {
        margin-left: 50px;
    }
    #title h1 {
        font-size: 30px;
    }
    #title h4{
        font-size: 18px;
    }
    #image img {
        height: 200px;
        width: 150px;
    }

    #about h1 {
        font-size: 40px;
    }

    #about p {
        font-size: 16px;
    }

    #biography h2 {
        font-size: 24px;
    }

    #biography ul {
        margin-left: 30px;
        font-size: 16px;
    }

    footer {
        font-size: 16px;
    }
}

/* For devices with a maximum width of 480px */
@media (max-width: 480px){
    
    #title {
        margin-left: 20px;
    }
    #title h1 {
        font-size: 30px;
    }
    #title h4{
        font-size: 18px;
    }
    #image img {
        height: 150px;
        width: 120px;
    }

    #about h1 {
        font-size: 30px;
    }

    #about p {
        font-size: 14px;
    }

    #biography h2 {
        font-size: 20px;
    }

    #biography ul {
        margin-left: 20px;
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }
}